<form method="POST" action="{{ path('createepage') }}">
	<input type="text" name="titre">
	<input type="text" name="description">
	<input type="text" name="prix">
	<input type="url" name="image">
	<input type="submit" value="enregistrer" />
</form>