{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vente Stras'</h1>
    <section id="test">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestias, cumque, fugiat eveniet, eius earum iusto alias quia dolores a, minima quibusdam iure architecto voluptas ut! Rem sit, aperiam quos!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolores repellat rerum consectetur distinctio optio libero delectus mollitia, modi sunt laborum voluptas be
        atae, quas commodi facilis. Vitae nobis dolore, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, voluptatum, fugiat! Similique voluptas fugiat temporibus quia voluptatum, nesciunt quae, unde ad illum. Ad officiis, temporibus minima voluptates esse perferendis cum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita fugiat, id veritatis perferendis voluptate fuga beatae libero explicabo a ipsam dignissimos quos doloremque iste maiores reiciendis sit iure natus vitae.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque recusandae natus eius consequuntur aut aliquid vero harum! A in tempora voluptates iste vitae alias maxime asperiores accusantium, soluta voluptatem magnam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nesciunt provident ducimus pariatur aut, adipisci eligendi distinctio, laudantium voluptate quia magnam. Quod accusantium aspernatur nostrum, fugiat ea illum iste error!
        </p>
    </section>
{% endblock %}
