 *{
	box-sizing: border-box;
	outline: none;
}


html {
	font-size: 62.5%;
     
}

body {
	font-family: "Bree Serif", Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 2;
	margin: 0;
    min-width: 100%;
  margin:0 auto;
   
}





/* header  */
header nav{
    display: flex;
    justify-content: space-around;   
    align-items: center;
    padding: 0.5%;
    border-bottom: solid black 1px;
    font-family: 'Poiret One', cursive;
    font-weight: bold
    
}
header nav a .fa {
    display: block;
    text-align: center;
    color: royalblue;
    font-size: 1em;
}
header nav a {
    text-decoration: none;
    color: royalblue;
}
header nav a:hover , .fa:hover {
    text-decoration: none;
    color: blue;
}

h1{
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 3em;
}

#test{
    max-width: 80%;
    text-align: justify;
    margin: 0 auto;
    border: 1px dotted;
    padding: 5%;
    font-family: 'Karla', sans-serif;

}


/*   CONNECTION   */
#login{
    max-width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
#connect, #register{
    max-width: 100%;
    display: flex;
}
.email, .login, .password{
    display: flex;
}
legend{
    text-align: center
}
{
    display: flex;
    justify-content: center;
}
#connect:last-child{
    display: none;
}