 *{
	box-sizing: border-box;
	outline: none;
}


html {
	font-size: 62.5%;
     
}

body {
	font-family: "Bree Serif", Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 2;
	margin: 0;
    min-width: 100%;
  margin:0 auto;
   
}





/* header  */
header nav{
    display: flex;
    justify-content: space-around;   
    align-items: center;
    padding: 0.5%;
    border-bottom: solid black 1px;
    font-family: 'Poiret One', cursive;
    font-weight: bold
    
}
header nav a .fa {
    display: block;
    text-align: center;
<<<<<<< HEAD
    color: #8C595B;
    font-size: 1.5em;
}

ul li {
	flex: 1 calc(100% / 3);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
	}
ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	justify-content: space-around;
}
li img {
	width: 100%
}
.annonce input,textarea{
 	padding:10px;
    border:1px solid #CECECE;
    border-radius:5px;
    width:700px;
    display: block;
    margin: 5px;
 }
 .annonce label{
 	font-weight:bold;
 	margin-left : 20px;

 }
 .annonce input[type=submit] {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px grey;
 cursor:pointer;
 padding: 8px;
 }

 .annonce{
  padding: 10px 10px
 }
 .annonces h2{
 	
 	background-color: #CECECE;
 	padding-left : 20px;
 	margin-top: 0;
 	
 }
 .annonces{
 	width: 1010px;
 	margin: 50px auto;
 	border: 1px solid #CECECE;


 }
=======
    color: royalblue;
    font-size: 1em;
}
header nav a {
    text-decoration: none;
    color: royalblue;
}
header nav a:hover , .fa:hover {
    text-decoration: none;
    color: blue;
}

h1{
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 3em;
}

#test{
    max-width: 80%;
    text-align: justify;
    margin: 0 auto;
    border: 1px dotted;
    padding: 5%;
    font-family: 'Karla', sans-serif;

}


/*   CONNECTION   */
#login{
    max-width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
#connect, #register{
    max-width: 100%;
    display: flex;
}
.email, .login, .password{
    display: flex;
}
legend{
    text-align: center
}
{
    display: flex;
    justify-content: center;
}
#connect:last-child{
    display: none;
}
>>>>>>> f8e1c0bbd4822d99884594ea14a179e6ff18140d
